<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ACTIVITY -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <!-- FOREGROUND -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- HEALTH CONNECT -->
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.READ_DISTANCE"/>
    <uses-permission android:name="android.permission.health.READ_EXERCISE"/>

    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>

    <uses-permission android:name="android.permission.health.READ_SLEEP"/>
    <uses-permission android:name="android.permission.health.WRITE_SLEEP"/>

    <uses-permission android:name="android.permission.health.READ_HYDRATION"/>
    <uses-permission android:name="android.permission.health.WRITE_HYDRATION"/>

    <!-- Android 14+ -->
    <uses-permission
        android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND"/>

    <!-- REQUIRED FOR HEALTH CONNECT -->
    <queries>

        <package android:name="com.google.android.apps.healthdata"/>

        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
        </intent>

    </queries>

    <application
        android:name="${applicationName}"
        android:label="Vital Metrics"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- HEALTH CONNECT PERMISSION RATIONALE -->
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">

            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
            </intent-filter>

        </activity-alias>

        <!-- HEALTH PERMISSION ACTIVITY -->
        <activity
            android:name="dev.fluttercommunity.plus.health.HealthPermissionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="
                orientation|
                keyboardHidden|
                keyboard|
                screenSize|
                smallestScreenSize|
                locale|
                layoutDirection|
                fontScale|
                screenLayout|
                density|
                uiMode">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

</manifest>